{% extends 'base.html' %}

{% block content %}
<br>
<div class="row">
<div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Active Booking</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{abook}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-money-bill fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Used Booking</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ubook}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-money-bill fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="card shadow col-md-12 mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Booking</h6>
  </div>
  <a class="btn btn-primary  btn-sm btn-block" href="{% url 'add_booking' customer.id %}">Make a Booking</a>
  <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" class="sm">
          <thead>
              <tr>
                  <th>Trip</th>
                  <th>Customer</th>
                  <th>Emergency Name</th>
                  <th>Emergency Contact</th>
                  <th>Emergency Address</th>
                  <th>Status</th>
                  <th>Comment</th>
              </tr>
          </thead>
          <tfoot>
              <tr>
                <th>Trip</th>
                  <th>Customer</th>
                  <th>Emergency Name</th>
                  <th>Emergency Contact</th>
                  <th>Emergency Address</th>
                  <th>Status</th>
                  <th>Comment</th>
              </tr>
          </tfoot>
          <tbody>
              {% for b in book %}
              <tr>
                  <td>{{b.route}}</td>
                  <td>{{b.customer}}</td>
                  <td>{{b.emg_name}}</td>
                  <td>{{b.emg_phone}}</td>
                  <td>{{b.address}}</td>
                  <td>{{b.status}}</td>
                  <td>{{b.comment}}</td>
                  {% endfor %}
          </tbody>
      </table>
  </div>
</div>
</div>
  {% endblock content%}